# Terraform files
*.tfstate
*.tfstate.*
*.tfvars
.terraform/
.terraform.lock.hcl
*.tfplan

# Local .terraform directories
**/.terraform/*

# Mac OS specific files
.DS_Store
.AppleDouble
.LSOverride

# VS Code specific files
.vscode/
*.code-workspace

# Environment variables
.env
*.env
.env.*

# Log files
*.log

# Temporary files
*.tmp
*.bak
*.swp


# Docker
*.env
.docker/